<!DOCTYPE html>
<html>
     <head>
          <meta charset="utf-8">
          <title>Test</title>
          <link rel="stylesheet" type="text/css" href="/css/style.css">
          <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
     </head>
     <body>
          <h1>Your Acurite Weather Station</h1>
               <table id="dataTable">
               <script>
               function updateData()
               {
                    var table = document.getElementById("dataTable");

                    var xmlhttp = new XMLHttpRequest();
                    xmlhttp.onreadystatechange = function()
                    {
                         if (this.readyState == 4)
                         {
                              if (this.status == 200)
                              {
                                   var state = JSON.parse(this.responseText);

                                   if (Object.entries(state).length > 0)
                                   {
                                        for (var entry of Object.entries(state))
                                        {
                                             var row = document.createElement("tr");
                                             var header = document.createElement("th");
                                             var data = document.createElement("td");

                                             header.innerHTML = entry[0];
                                             data.innerHTML = entry[1];

                                             row.append(header);
                                             row.append(data);

                                             dataTable.append(row);
                                        }
                                   }
                                   else
                                   {
                                        table.append(document.createTextNode("There is no data yet."));
                                        table.append(document.createTextNode("Try restarting the Acurite Smart Hub, and maybe press the register button."));
                                   }
                              }
                         }
                    };
                    xmlhttp.open("GET", "api", true);
                    xmlhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                    xmlhttp.send();


               }

               updateData();
               setInterval(updateData, 3000);
               </script>
               </table>
     </body>
</html>
